<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Medicine Verification!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        h2, h3 {
            color: #333;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
        }
        li {
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 15px;
        }
        footer {
            margin-top: 30px;
            font-size: 12px;
            text-align: center;
            color: #777;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Welcome to Medicine Verification!</h2>
        <p>Hi {{name}},</p>
        <p>Thank you for joining the Medicine Verification platform! We are thrilled to have you onboard in our mission to ensure the authenticity and quality of medicines worldwide.</p>
        
        <h3>Here’s what you can do with your Medicine Verification account:</h3>
        <ul>
            <li>Verify Medicines: Upload your manufactured medicines and generate unique verification codes to ensure their authenticity.</li>
            <li>Track Verification Status: Monitor the verification status of your products and ensure they are properly validated.</li>
            <li>Eliminate Counterfeit Drugs: Help in reducing fake medicines from the market and protect consumers from harm.</li>
        </ul>

        <h3>Getting Started:</h3>
        <p>To get started, simply log in to your account at https://medical-verification-website.vercel.app/auth/login and start uploading your products for verification. Our user-friendly dashboard will guide you through the process.</p>

        <h3>Need Help?</h3>
        <p>If you have any questions, our support team is here for you. You can reach us at +2349074716624</p>
        
        <p>Thank you for being a part of our journey to eliminate fake medicines from society!</p>
        <footer>The Medicine Verification Team</footer>
    </div>
</body>
</html>
